extends ../layout


block content
    div(class="container")
        if alerta
            div(class="alert alert-success alert-dismissible fade show", role="alert")
                h4(class="alert-heading") Accion realizada con exito
                p !{alerta}
                button(type="button", class="close", data-dismiss="alert", aria-label="Close")
                    span(aria-hidden="true") &times;

        form(action="/autores/crear", method="POST", enctype="multipart/form-data")
            div(class="form-group")
                div(class="row")
                    div(class="col col-sm-2")
                        label(for="nombre", class="col col-lg") Nombre autor:
                    div(class="col col-lg-5")
                        input(type="text", class="form-control", id="nombre", name="nombre", placeholer="Ingresa un nombre" autocomplete="off")
            div(class="form-group")
                div(class="row")
                    div(class="col col-sm-2")
                        label(for="fnac", class="col col-lg") Fecha de nacimiento:
                    div(class="col col-lg-5")
                        input(type="date", class="form-control", id="fnac", name="fnac", placeholer="Ingresa un nombre", autocomplete="off", min="1600-01-01")

            div(class="form-group")
                div(class="row")
                    div(class="col-sm-5 mx-auto")
                        button(type="submit", class="btn btn-success") Aceptar