extends ../layout


block content
    mixin item
        each libro in libros
            h1= libro.Titulo
            small= 'ISBN: ' + libro.ISBN + 	" \u2022 " + libro.gen_nombre
            p=  'Descripcion: ' + libro.Descripcion

    +item
    +item
    +item
    +item
    +item
    +item
    +item
    +item