a(class="navbar-brand" href="/") Libreria
button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")

div(class="collapse navbar-collapse" id="navbarSupportedContent")
    ul(class="navbar-nav mr-auto")
        li(class="nav-item " + activeInicio )
            a(class="nav-link" href="/") Inicio 
                span(class="sr-only") (Current)
        li(class="nav-item " + [activeLibros] )
            a(class="nav-link" href="/libros") Libros
        li(class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Generos
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                if (generos)
                    each genero in generos
                        a(class="dropdown-item", href="/generos/d/" + genero.gen_id) !{genero.gen_nombre}
        
div.navbar-collapse.collapse.w-100.order-3.dual-collapse2
    ul.navbar-nav.ml-auto
        if (nombreUsuario) 
            li.nav-item.dropdown
                a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") !{nombreUsuario} 
                div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                    a(class="dropdown-item" href="/cuenta") Cuenta
                    a(class="dropdown-item" href="/logout") Logout
        else
            li.nav-item
                a.nav-link(href="/login") Iniciar sesion
            li.nav-item
                a.nav-link(href="/registro") Registrarse
        
    form(class="form-inline my-2 my-lg-0" action="/libros/find" method="post")
        input(class="form-control mr-sm-2" name="search" autocomplete="off" type="search" placeholder="Buscar" aria-label="Search")
        button(class="btn btn-outline-light my-2 my-sm-0" type="submit") Buscar