extends layout

block fullpageContent
  
  div(style="position:relative;min-height: 100vh;")
    // JUMBOTRON
    div(class="bg")
    header(class="jumbotron")
      h1(class="display-3 text-white" ) Librería laguna
      p(class="lead text-white") !{content}
      a(href="#" class="btn btn-danger btn-lg") Comprar ahora!

    // ELEMENTOS DE LIBROS
    div(class="container " )
      div(class="row text-center")
        each libro in libros

        
          div(class="col-lg-3 col-md-6 mb-5")
            div(class="card ")
              if (libro.imagenes != null)
                div.carousel.slide(id="indicators" + libro.lib_id, data-ride="carousel")
                  ol.carousel-indicators
                    each imagen in libro.imagenes
                      if imagen.active
                        li.active(data-target="#indicators" + libro.lib_id, data-slide-to="" + imagen.slideto)
                      else
                        li(data-target="#indicators" + libro.lib_id, data-slide-to="" + imagen.slideto)
                  div.carousel-inner
                    each imagen in libro.imagenes
                      if imagen.active
                        div.carousel-item.active
                          img.d-block.w-100(src='/uploads/'+imagen.img_filename)
                      else 
                        div.carousel-item
                          img.d-block.w-100(src='/uploads/'+imagen.img_filename)
                  a.carousel-control-prev(href="#indicators" + libro.lib_id, reole="button", data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.sr-only Anterior
                  a.carousel-control-next(href="#indicators" + libro.lib_id, reole="button", data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.sr-only Siguiente

                //--img(class="card-img-top mx-auto img-fluid mt-2", style="display: block;max-width:100px;max-height:155px;width: auto;height: auto;", src='data:image/png;base64,'+libro.imagenes[0].data, alt="")
              else  
                img(class="card-img-top mx-auto img-fluid mt-2", style="display: block;max-width:100px;max-height:180px;width: auto;height: auto;", src="http://placehold.it/100x170", alt="")
              div(class="card-body")
                h4(class="card-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 400px;") !{libro.titulo}
                p(class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 400px;") !{libro.descripcion}
              div(class="card-footer")
                a(href="#" class="btn btn-success btn-sm") Comprar
                a(href="#" class="btn btn-outline-dark btn-sm") Carrito
