extends layout

block fullpageContent
  div(class="container")
    // JUMBOTRON
    header(class="jumbotron my-4 bg-dark")
      h1(class="display-3 text-white" ) Librería laguna
      p(class="lead text-white") #{content}
      a(href="#" class="btn btn-outline-success btn-lg") Comprar ahora!

    // ELEMENTOS DE LIBROS
    
    div(class="row text-center")
      mixin element
        div(class="col-lg-3 col-md-6 mb-4")
          div(class="card h-100")
            img(class="card-img-top" src="http://placehold.it/500x325" alt="")
            div(class="card-body")
              h4(class="card-title") Titulo de libro
              p(class="card-text") Descripcion de libro
            div(class="card-footer")
              a(href="#" class="btn btn-success btn-sm") Comprar
              a(href="#" class="btn btn-outline-dark btn-sm") Carrito


      +element
      +element
      +element
      +element
      +element
      +element
      +element
      +element
      +element
      +element
      +element
      +element