extends layout

block fullpageContent
  
  div(style="position:relative;min-height: 100vh;")
    // JUMBOTRON
    header(class="jumbotron")
      h1(class="display-3 text-white" ) Librería laguna
      p(class="lead text-white") #{content}
      a(href="#" class="btn btn-danger btn-lg") Comprar ahora!

    // ELEMENTOS DE LIBROS
    div(class="container " )
      div(class="row text-center")
        //- mixin element        
        each libro in libros
          div(class="col-lg-3 col-md-6 mb-5")
            div(class="card ")
              if (libro.imgdata != null)
                img(class="card-img-top mx-auto img-fluid mt-2", style="display: block;max-width:100px;max-height:155px;width: auto;height: auto;", src='data:image/png;base64,'+libro.imgdata, alt="")
              else  
                img(class="card-img-top mx-auto img-fluid mt-2", style="display: block;max-width:100px;max-height:180px;width: auto;height: auto;", src="http://placehold.it/100x170", alt="")
              div(class="card-body")
                h4(class="card-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 400px;") !{libro.titulo}
                p(class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 400px;") !{libro.descripcion}
              div(class="card-footer")
                a(href="#" class="btn btn-success btn-sm") Comprar
                a(href="#" class="btn btn-outline-dark btn-sm") Carrito
