if(isAdmin) 
    nav(class="navbar sticky-top navbar-expand-lg navbar-dark bg-warning pb-3 pt-3")
        include colorNavbar.pug
else 
    nav(class="navbar sticky-top navbar-expand-lg navbar-dark bg-success pb-3 pt-3")
        include colorNavbar.pug
    