extends ../layout
block content
    each lote in lotes
        h1
            a(href="/lotes/d/" + lote.lot_id ) !{lote.lote_descripcion}
        
        .row
            .col-auto
                <a href=!{"/proveedores/d/" + lote.proveedor_id}> !{lote.proveedor} </a>
            .col
                p Fecha: !{lote.fentrega}
                    
        <p> 
            
            
            
            
        </p>
            
            