extends ../layout


block content
    each lote in lotes
        h1
            a(href="/lotes/d/" + lote.lot_id ) !{lote}
        small= 'Proveedor: ' + lote.proveedor_id + 	" \u2022 " + lote.lot_fcreacion