extends ../layout


block content
    each gen in generos
        h1
            a(href="/generos/d/" + gen.gen_id ) #{gen.gen_nombre}
        //- small= 'Autor: ' + libro.autor + 	" \u2022 " + libro.genero
        //p=  'Nacimiento: ' + aut.aut_fecnac