extends ../layout

block content
      div(class = "container")
        form(action="usuario/crear", method = "POST", enctype="multipart/form-data")

            div(class = "form-group")
                div(class = "col col-sm-2")
                    label(for="nombre", class = "col col-lg") Nombre del usuario:
                div(class = "col col-lg-4")
                    input(type="text", class="form-control", id = "nombre", name = "nombre", placeholer = "Ingresa tu nombre: " autocomplete = "off", required)
                 
            div(class = "form-group")
                div(class = "row")
                    div(class = "col col-sm-2")
                       label(for="apellidos", class = "col col-lg") Ingresa pellidos:
                div(class = "col col-lg-4")
                       input(type="text", class = "form-control", id = "apellidos", name = "apellidos", placeholer = "Ingresa apellidos: " autocomplete = "off", required)
            
            div(class = "form-group")
                div(class = "row")
                    div(class = "col col-sm-2")
                       label(for="email", class = "col col-lg") Direccion e-mail:
                div(class = "col col-lg-4")
                       input(type="text", class = "form-control", id = "email", name = "email", placeholer = "Direccion e-mail" autocomplete = "off", required)
            
            div(class = "form-group")
                div(class = "row")
                    div(class = "col col-sm-2")
                        label(for="username", class = "col-col-lg") Nombre de usuario:
                div(class = "col col-lg-4")
                        input(type="email", class = "form-control", id = "username", name = "username", placeholer = "Nombre de usuario" autocomplete = "off", required)

            div(class = "form-group")
                div(class = "row")
                    div(class = "col col-sm-2")
                        label(for="password", class = "col col-lg") Contraseña:
                div(class = "col col-lg-4")
                       input(type="password", class = "form-control", id = "password", name = "password", placeholer = "Contraseña: " autocomplete = "off", required)
                    


            div(class = "form-group")
                div(class = "row")
                   div(class = "col col-sm-2")
                        label(for="fecha_nacimiento", class = "col col-lg") Fecha de nacimiento:
                div(class = "col col-lg-4")
                        input(type="date", class = "form-control", id = "fecha_nacimiento", name = "fecha_nacimiento", placeholer = "Fecha de nacimiento" autocomplete="off", required)
    

            div(class="form-group")
                div(class="row")
                    div(class="col-sm-5 mx-auto")
                        button(type="submit", class="btn btn-primary mb-2") Confirmar datos