extends ../layout

block content
      div(class="container-fluid h-100")
        div(class="row justify-content-center align-items-center h-100")
            div(class="col col-sm-10 col-md-10 col-lg-10 col-xl-5 mb-5")
                form(action="/login", method="POST", enctype="multipart/form-data")
                    h1 Inicio de sesi칩n
                    div(class="form-label-group")
                        input(type="text", class="form-control",id="username", name="username", placeholder="Nombre de usuario", autocomplete="off", required)
                        label(for="username") Nombre de usuario

                    div(class="form-label-group")
                        input(type="text", class="form-control",id="password", name="password", placeholder="Contrase침a", autocomplete="off", required)
                        label(for="password") Contrase침a

                button(type="submit", class="btn btn-lg btn-primary btn-block") Iniciar sesi칩n